/**
 * Contactos
 */

.linkedin {
	a {
		&:hover {
			color: $footer-a-color;
		}
		@include contactos-a;
		color: $yellow;
	}
}
.behance {
	a {
		&:hover {
			color: $footer-a-color;
		}
		@include contactos-a;
		color: $purple;
	}
}
.mail {
	a {
		&:hover {
			color: $footer-a-color;
		}
		@include contactos-a;
		color: $pink;
	}
}
.phone {
	a {
		&:hover {
			color: $footer-a-color;
		}
		@include contactos-a;
		color: $blue;
	}
}
@include tablet-landscape {
	.wrapper {
		display: grid;
		grid-template-columns: 2fr 2fr;
    	grid-template-rows: 2fr 2fr
	}
}
@include laptop {
	.wrapper {
		font-size: 1.4em;
	}
}
@include desktop {
	.wrapper {
		font-size: 1.7em;
	}
}