/**
 * Contactos
 */

.linkedin {
	a {
		&:hover {
			color: $footer-a-color;
		}
		@include contactos-a;
		color: $yellow;
	}
}
.behance {
	a {
		&:hover {
			color: $footer-a-color;
		}
		@include contactos-a;
		color: $purple;
	}
}
.mail {
	a {
		&:hover {
			color: $footer-a-color;
		}
		@include contactos-a;
		color: $pink;
	}
}
.phone {
	a {
		&:hover {
			color: $footer-a-color;
		}
		@include contactos-a;
		color: $blue;
	}
}
.-col-3 {
	padding: 0.972vw;
}
