/**
 * Work
 */
 
.imagem-destaque {
    @include img-destaque;
}
@include tablet-landscape {
    .imagem-destaque {
        width: 40vw;
    }
}
.trabalhosflex {
    display: flex;
    justify-content: space-between;
    padding: 2% 0 0 0;
}
figcaption {
    width: 40vw;
}
.sectionflex {
    width: 100%;
    align-items: center;
}
form {
    text-align: left;
}
h4 {
    font-family: $font-header;
    font-size: 1.125em;
}
@include laptop {
    .sectionflex {
        display: flex;
        justify-content: center;
}
}