<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta charset="utf-8"> 
	<title>{{ page.title }}</title>
	<link rel="shortcut icon" href="{{ "/assets/images/favicon.ico" |relative_url }}" type="image/x-icon">  
	<link href="https://fonts.googleapis.com/css2?family=Space+Mono&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css2?family=Hind:wght@700&display=swap" rel="stylesheet">
	<script
      src="https://use.fontawesome.com/releases/v5.15.3/js/all.js"
      data-auto-a11y="true"
    ></script>
	<link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
</head>