 <header>
  <nav class="navdaniel">
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <i class="fas fa-bars"></i>
    </label>
    <a class="logo">Daniel Roxo</a>
    <ul>
      <li><a class="navbardaniel" href="/projeto/">Home</a></li>
      <li><a class="navbardaniel" href="/projeto/about/">About</a></li>
      <li><a class="navbardaniel" href="/projeto/work/">Work</a></li>
      <li><a class="navbardaniel" href="/projeto/contacts/">Contacts</a></li>
    </ul>
  </nav>
</header>