/**
 * Mixins
 */

@mixin img-destaque {
	cursor: pointer;
	border: 20px solid transparent;
	border-image: url(images/border.png) 40;
	width: 100%;
	height: auto;
	&:hover {
		opacity: 0.3;
	}
}

@mixin contactos-a {
	cursor: pointer;
	font-size: 1.1em;
	color: $yellow;
}

@mixin ul-before {
	content: "\2022";
	color: $purple;
	font-weight: bold;
	display: inline-block;
	width: 1em;
	margin-left: -1em;
}

@mixin ul-style {
	list-style: none;
	display: flex;
	padding: 0 0 1.6666666666666667vh 0;
	flex-wrap: wrap;
}

@mixin anolocal {
	text-decoration: underline;
  	text-decoration-color: $pink;
  	text-decoration-thickness: 2px;
}

/**
 * Mixins media queries
 */

@mixin tablet-portrait {
  @media (min-width: 450px) { @content; }
}

@mixin tablet-landscape {
  @media (min-width: 700px) { @content; }
}

@mixin laptop {
  @media (min-width: 900px) { @content; }
}

@mixin desktop {
  @media (min-width: 1024px) { @content; }
}

/**
 * Variables
 */

$font-body: 'Space Mono', 'Andalé Mono', monospace;
$font-header: 'Hind', 'Verdana', sans-serif; 
$green: #BDECB0;
$yellow: #FFDC4A;
$purple: #B5B6F5;
$blue: #BAD4ED;
$pink: #FFC5EC;
$footer-cursor: pointer;
$footer-font-size: 2em;
$footer-a-color: black;

/**
 * Partials
 */

@import 
	"codigododaniel/page",
	"codigododaniel/header",
	"codigododaniel/about",
	"codigododaniel/contactos",
	"codigododaniel/work",
	"codigododaniel/home",
	"codigododaniel/fbaul",
	"codigododaniel/spotify",
	"codigododaniel/footer";