---
layout: page
---
<section id="sobremim">
  <div class="sobremim">
    <div class="textosobremim">
      <h1>Howdy 🤠</h1>
      <p>I am Daniel Roxo and I am a UX Designer creating human-centered design.</p> 
      <form action="/projeto/about/" method="get">
        <button>About</button>
      </form>
    </div>
    <figure class="sobremimfig">
      <img class="sobremimpic" src="/projeto/assets/images/danielroxo.jpg" alt="Daniel Roxo fotografado no Porto" />
    </figure>
  </div>
</section>