---
layout: page
---
<section class="home">
  <div class="sectionflex">
    <div>
      <h1>Howdy 🤠</h1>
      <p>I'm <strong class="nome">Daniel Roxo</strong>. I'm a <strong class="cargo">UX Designer</strong> creating human-centered design.</p> 
      <div class="formabout">
        <form action="/projeto/about/" method="get">
          <button>About</button>
        </form>
      </div>
    </div>
      <figure>
        <img class="sobremimpic" src="/projeto/assets/images/danielroxo.jpg" alt="Daniel Roxo" />
      </figure>
  </div>

  <div class="tumbleweed">
    <img src="/projeto/assets/images/tumbleweed.gif" alt="tumbleweed">
  </div>
</section>